@font-face {
  font-family: 'Exo';
  src:local('Exo'), url('exo.ttf') format('truetype');
}

@font-face {
  font-family: 'Naskh';
  src:local('Naskh'), url('naskh.ttf') format('truetype');
}

@font-face {
  font-family: 'Nastaliq';
  src: url(gulzar.woff2);
}

@font-face {
  font-family: 'Qastaliq';
  font-feature-settings: "hamz" 1;
  src:local('Qastaliq'), url('nastaliq-awami.ttf') format('truetype');
}

html,
textarea {
  font-family: Exo, sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.414em;
  color: #372f37;
  background-color: rgba(0, 0, 0, 0);
}

textarea {
  background-image: url("orn.png");
  background-size: 50px 100%;
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 55px;
  text-align: justify;
}

div#wayout {
  float: left;
  margin-top: 1em;
  font-size: 4em;
  line-height: 1.414em;
}
